.bg-accent {
	color: #ffffff;
	background-color: var(--accent);
}

.banner {
	position: relative;
}
.banner img {
	height: 350px;
	width: 100%;
}
.banner h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 30px;
	column-gap: 10px;
}
